<h1>This is home page</h1>
<ul>
    <li>has shared folder - CHECKED</li>
    <li>Sketching view for homepage header - CHECKED</li>
    <li>Sketching for login/register combo btn - CHECKED</li>
    <li>Sleep</li>
    <li>---------------</li>
    <li>Tomorow</li>
    <li>Complete function on rails</li>
    <li>Moving on to react</li>
    <li>has api for react</li>

    <li>Good to have</li>
    <li>use goo-oil slim-rails :D</li>

</ul>
